
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<p>The ultimate product naming guide by branding specialists and business experts. 
Learn top tips for how to create an effective product name and find name inspiration with 20+ unique product name ideas.</p>

