
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form action="#" >
<input type="text" placeholder="username..." /><br />
    <input type="text" placeholder="password..." /><br />
    <button class="btn"><a href="/Home/Profile">Login</a></button>
</form>
