
@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>
<ul>
    <li>
        Orbital Keys
    </li>
    <li> XPress Bottle</li>
    <li>InstaPress</li>
    <li>Uno Wear</li>
    <li>Allure Kit</li>
    <li>Swish Wallet</li>
    <li>Onovo Supply</li>
    <li>Sharpy Knife</li>
    <li>Towlee</li>
    <li>Rhino Case</li>
    <li>Mono</li>



</ul>

