@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/sales.cshtml";
    @model Mid_Lab_Task_2.Models.Prods[]
}


<h2>Profile</h2>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price$</td>
                </tr>
            }
        </tbody>
    </table>
